/*
!.gitignore
!/minecraft
!README.md

/minecraft/*
!/minecraft/config/
!/minecraft/scripts/
!/minecraft/resourcepacks/

!/minecraft/config/*
/minecraft/config/MapWriterBlockColourOverrides.txt
/minecraft/config/MapWriterBlockColours.txt

!/minecraft/scripts/*
!/minecraft/resourcepacks/*
