*

!.gitignore

!/minecraft/config/
!/minecraft/scripts/
!/minecraft/resourcepacks/
!/minecraft/config/*
!/minecraft/config/*/*
!/minecraft/config/*/*/*
!/minecraft/scripts/*
!/minecraft/scripts/*/*
!/minecraft/resourcepacks/*
!/minecraft/resourcepacks/*/*
!/minecraft/resourcepacks/*/*/*
!/minecraft/resourcepacks/*/*/*/*
!/minecraft/resourcepacks/*/*/*/*/*